.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    background-color: var(--primary-color);
    padding-top: 7rem;
}

.nav-link {
    padding: 1rem;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}