.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    background-color: var(--primary-color);
    padding-top: 7rem;
}

.nav-link {
    padding: 2rem;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}