@import url("https://spazeir-ui.netlify.app/CSS/button.css");
:root {
    /* colors */
    --primary-color: #f40c0c;
    --secondary-color: #ffff;
    --gold: #ffd700;
    --black: #000000;
}

.App {
    text-align: center;
}

.app-main {
    display: flex;
    flex-direction: row;
}

.app-content {
    width: calc(100% - 6rem);
    margin-left: 6rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
}