@import url("https://spazeir-ui.netlify.app/CSS/button.css");
:root {
    /* colors */
    --primary-color: #bb1212;
    --secondary-color: #ffff;
    --gold: #ffd700;
    --black: #000000;
}

.App {
    text-align: center;
}