.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    font-weight: bold;
}

.main-text {
    font-size: 2rem;
    width: 60%;
}