.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://getwallpapers.com/wallpaper/full/5/6/6/1402353-download-cool-plain-backgrounds-1920x1080-pc.jpg);
    background-size: cover;
    color: var(--white);
    font-weight: bold;
}

.main-text {
    font-size: 2rem;
    width: 60%;
}