.playlist {
    padding: 2rem;
    margin: 1rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
    color: var(--black);
    text-decoration: none;
}

.playlists-container {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icon-playlist-delete {
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 50%;
}